* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
    background-size: 450px;
    margin: auto; 
    position: relative;
}
     
h1 {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    width: 400px;
    font-weight: bold;
    margin: 50px 150px;
        }
h1::after {
    content: "";
    height: 1px;
    background-color: lightgray;
    width: 450px;
    float: left;
    margin: 20px -5px;
  } 
h2 {
    visibility: hidden;
        }
#about h3 {
    visibility: hidden;
     }
#about p {
    width: 420px;
    float: left;
    font-size: 12pt;
    font-style: italic;
    text-align: justify;
    color: gray;
    margin: -230px 170px;
}

figure {
    visibility: hidden;
}

#competencies h3{
    float: left;
    padding: 20px 180px;
}
#competencies::after {
    content: "";
    height: 1px;
    background-color: black;
    width: 3.25cm;
    float: left;
    margin: -175px 170px;       
}

.skills-primary .skill[data-skill="5"] {
    background-color: teal;
    height: 0.9cm;
    width: 3.5cm;
    font-size: 13pt;
    color: white;
    float: left;
    margin: 100px -275px;
    position: relative;
    padding: 10px 10px;
  }
  .skills-primary .skill[data-skill="5"]::after{
    content: "\2605\2605\2605";
    color: white;
    float: right;
    position: static;
  }

  .skills-primary .skill[data-skill="3"] {
    background-color: teal;
    height: 0.9cm;
    width: 3.5cm;
    font-size: 13pt;
    color: white;
    float: left;
    margin: 100px -133px;
    position: relative;
    padding: 10px 10px;
  }
  .skills-primary .skill[data-skill="3"]::after{
    content: "\2605\2605";
    color: white;
    float: right;
    position: static;
  }
  
  .skills-primary .skill[data-skill="1"] {
    background-color: teal;
    height: 0.9cm;
    width: 3.5cm;
    font-size: 13pt;
    color: white;
    float: left;
    margin: 100px 10px;
    position: relative;
    padding: 10px 10px;
  }
  .skills-primary .skill[data-skill="1"]::after{
    content: "\2605";
    color: white;
    float: right;
    position: static;
  }

  .skills-secondary .skill[data-skill="9"] {
    background-color: teal;
    height: 0.6cm;
    width: 3.5cm;
    font-size: 10pt;
    color: white;
    float: left;
    margin: 145px -427px;
    position: relative;
    padding: 5px 10px;
  }
  .skills-secondary .skill[data-skill="9"]::after{
    content: "\2605\2605\2605\2605\2605";
    color: white;
    float: right;
    position: static;
  }
  .skills-secondary .skill[data-skill="5"] {
    background-color: teal;
    height: 0.6cm;
    width: 3.5cm;
    font-size: 10pt;
    color: white;
    float: left;
    margin: 145px -285px;
    position: relative;
    padding: 5px 10px;
  }
  .skills-secondary .skill[data-skill="5"]::after{
    content: "\2605\2605\2605";
    color: white;
    float: right;
    position: static;
  }
  .skills-secondary .skill[data-skill="7"] {
    background-color: teal;
    height: 0.6cm;
    width: 3.5cm;
    font-size: 10pt;
    color: white;
    float: left;
    margin: -89px 453px;
    position: relative;
    padding: 5px 10px;
  }
  .skills-secondary .skill[data-skill="7"]::after{
    content: "\2605\2605\2605\2605";
    color: white;
    float: right;
    position: static;
  }

h3 {
    margin: 20px -10px;
    text-align: left;
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
}
/*********************************************************/
p {
    float: left;
    font-size: small;
    font-weight: normal;
    line-height: auto;
    letter-spacing: 0.5pt;
}
/*********************************************************/
#experiences {
    width: 400px;
    float: left;
    font-weight: 15pt;
    margin: -10px 180px;
}  
#experiences::after {
    content: "";
    height: 1px;
    background-color: black;
    width: 3.25cm;
    float: left;
    margin: -323px -10px;
}

.experience-institution {
visibility: hidden;
}
.experience-type {
    float: left;
    font-size: 13pt;
    font-weight: bold;
    color: teal;
    margin: 20px 50px;
}
.experience-details {
    float: left;
    color: rgb(87, 86, 86);
    font-size: 10pt;
    font-weight: normal;
    margin: -27px 150px;
}
#experiences h4 {
    float: left;
    text-align: left;
    font-size: 13pt;
    font-weight: bold;
    color: teal;
    margin: -10px -60px;
}
#experiences p {
    width: 400px;
    margin: 10px -10px;
}
/*********************************************************/
#education {
    display: flex;
    float: left;
    margin: 50px 180px;
}
#education::after {
    content: "";
    height: 1px;
    background-color: black;
    width: 3.5cm;
    float: left;
    margin: -10px -100px;
}
#education h4 {
    float: left;
    font-size: 13pt;
    font-weight: bold;
    color: teal;
    margin: 50px -120px;
}
#education details {
    float: left;
    color: gray;
    font-size: 10pt;
    font-weight: normal;
    margin: 250px 400px;
}

/********************************/

#education p {
    visibility: hidden;
}
#hobbies {
    visibility: hidden;
}
#contact h3, .contact-type, .contact-value{
    visibility: hidden;
}
